{% extends 'main.html' %}

{% block content %}
{% load static %}
<div class="main">


  <img src="{% static 'skin_details/img/create_loadouts.svg' %}" class="createloadouts" alt="Logo" height="100">
    
    <div class="big-home-rectangle">
        <h1> Test </h1>
    </div>
    <div>
        <h2><a href="{% url 'glove-list' %}"> Glove List </a></h2>
    </div>
    <div>
        <h2><a href="{% url 'knife-list' %}"> Knife List </a></h2>
    </div>
    <div>
        <h2><a href="{% url 'gun-list' %}"> Gun List </a></h2>
    </div>
    <div>
        <h2><a href="{% url 'list-form' %}"> List Creator </a></h2>
    </div>
</div>





{% endblock content %}
