{% extends 'main.html' %}

{% block content %}
    <div>
        <h2><a href="{% url 'glove-list' %}"> Glove List </a></h2>
    </div>
    <div>
        <h2><a href="{% url 'knife-list' %}"> Knife List </a></h2>
    </div>
    <div>
        <h2><a href="{% url 'gun-list' %}"> Gun List </a></h2>
    </div>
    <div>
        <h2><a href="{% url 'list-form' %}"> List Creator </a></h2>
    </div>
    {% comment %} <div> 
        <div>
            {% for skin in skins %}
                <div>
                    <a href="{% url 'details' skin.fullname %}">
                    <h5>Type: {{skin.type}} -- Weapon: {{skin.fullname}}</h5>
                    </a>
                </div>
            {% endfor %}

        </div>
    </div> {% endcomment %}





{% endblock content %}
