{% load static %}
<link rel="stylesheet" href="{% static 'skin_details/css/style.css' %}">
<link rel="svg" href="{% static 'skin_details/img/navbar_logo.svg' %}">
<script src="{% static 'skin_details/js/main.js' %}"></script>
<link rel="svg" href="{% static 'skin_details/img/create_loadouts.svg' %}">

<div class="topnav">
  <a href="/" class="navlogo"><img src="{% static 'skin_details/img/navbar_logo.svg' %}" alt="Logo" height="100">
  </a>
  <div class="topnav-right">

    <div class="dropdown">
      <button class="dropbtn">BROWSE</button>
      <div class="dropdown-content">
        <a href="{% url 'gun-list' %}">Guns</a>
        <a href="{% url 'knife-list' %}">Knives</a>
        <a href="{% url 'glove-list' %}">Gloves</a>
      </div>
    </div>
    <a href="" class="navelem" style="color: rgba(255, 255, 255, 0);">&nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp </a>
    <a href="" class="navelem">BUILDER</a>
    <a href="#about" class="navelem">ABOUT</a>
  </div>
</div>
</div>
