{% extends 'main.html' %}
{% load gun_extras %}
{% block content %}



<div class="weaponslist" onload="updateUI();">
        <div class="listhead">
        <div class="weaponlistheader">Gloves</div>
        <div class="listsearch">
            <form method="GET"> 
                <input id="search" type="text" name="search" placeholder="Search" />
            </form>
        </div>
    </div>
    <div class="weaponslistleft" onload="updateUI();">

        <ul class="filter-list" id="m_set">
    <div class="filterheader">
        <span style="font-size: 20px;  width: 50%; margin: 0; float:left;"> Filters</span>
        <span style="font-size: 15px; vertical-align: bottom; text-align:center; width: 50%; margin-top: 9px; float:right;"><a href="{% url 'glove-list' %}" style="color: white;"> Clear All</a></span>
    </div>
    <hr style="width:90%; margin-left:0px;">
    <h5 style="font-size: 18px; margin-bottom: 3px;">Glove Type</h5>
            {% for key in filters.glove_type %}
            <li class="filter-row-single  "><input type="checkbox" onclick="redirect(this); updateUI();" class="checkbox filteritem" id="box_glove_type_{{ key }}"
                value="glove_type={{ key }}"  data-value-id="box_glove_type_{{ key }}_val"><label for="box_glove_type_{{ key }}">{{ key }}</label></li>
            {% endfor %}
        </ul>
        <ul class="filter-list" id="m_set">
    <h5 style="font-size: 18px; margin-bottom: 3px;">Exterior</h5>
            {% for key in filters.exterior %}
            <li class="filter-row-single  "><input type="checkbox" onclick="redirect(this) "class="checkbox filteritem" id="box_exterior_{{ key }}"
             value="exterior={{ key }}" data-value-id="box_exterior_{{ key }}_val"><label for="box_exterior_{{ key }}">{{ key }}</label></li>
            {% endfor %}
        </ul>
    </div>
    <div class="weaponslistright">

        <div class="guns">
            <table class="gunlist" summary="gunlist">
                <tr>
                    <th style="width: 10%;">Picture</th>
                    {% if sort == 'name' %}
                        <th style="width: 17%;"><a href=?{% param_replace sort='-name' %}>Glove Name</a></th>
                    {% else %}
                        <th style="width: 17%;"><a href=?{% param_replace sort='name' %}>Glove Name</a></th>
                    {% endif %}

                    {% if sort == 'glove_type' %}
                        <th style="width: 17%;"><a href=?{% param_replace sort='-glove_type' %}>Glove Type</th>
                    {% else %}
                        <th style="width: 17%;"><a href=?{% param_replace sort='glove_type' %}>Glove Type</th>
                    {% endif %}

                    {% if sort == 'exterior' %}
                        <th style="width: 10%;"><a href=?{% param_replace sort='-exterior' %}>Exterior</th>
                    {% else %}
                        <th style="width: 10%;"><a href=?{% param_replace sort='exterior' %}>Exterior</th>
                    {% endif %}

                    {% if sort == 'price' %}
                        <th style="width: 7%;"><a href=?{% param_replace sort='' %}>Price</th>
                    {% else %}
                        <th style="width: 7%;"><a href=?{% param_replace sort='' %}>Price</th>
                    {% endif %}
                        <th style="width: 7%;">Add to List</th>
                </tr>
                    {% for glove in page_obj %}
                <tr style="background:{% cycle "#242526" "#18191A" %};">
                   <td> <img class="tableimg" src="https://steamcommunity-a.akamaihd.net/economy/image/{{ glove.icon_url }}"></td>
                    <td class="tabletext"> <a href="{% url 'glove-details' glove.name %}">{{ glove.name }}</a></td>
                    <td class="tabletext">{{ glove.glove_type }}</td>
                    <td class="tabletext">{{ glove.exterior }}</td>
                    <td class="tabletext">0.00</td></div>
                    <td><a style="text-decoration:none;" href="{% url 'list-form' %}"><button type="{{ glove.generic }}" name="{{ glove.name }}" class="addlistbtn" onclick="addToTempList(this)">Add</button></a></td>
                </tr>
                {% endfor %}
            </table>
        </div>


        <div class="pagination">
            <span class="step-links">
                {% if page_obj.has_previous %}
                <a href="?{% param_replace page=1 %}">&laquo; first</a>
                <a href="?{% param_replace page=page_obj.previous_page_number %}">previous</a>
                {% endif %}

                <span class="current">
                    Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
                </span>

                {% if page_obj.has_next %}
                <a href="?{% param_replace page=page_obj.next_page_number %}">next</a>
                <a href="?{% param_replace page=page_obj.paginator.num_pages %}">last &raquo;</a>
                {% endif %}
            </span>
        </div>
    </div>
</div>
</div>
</div>
{% endblock content %}
